[AUTOUPDATE]
# Pre-Release channel.

VERSION=0.5.8
ARCHIVEURL=https://github.com/herdan75/LoxBerry-Plugin-HostBackup/releases/download/v0.5.8-beta/LoxBerryHostBackup_0.5.8.zip
INFOURL=https://github.com/herdan75/LoxBerry-Plugin-HostBackup/releases/tag/v0.5.8-beta
