[AUTOUPDATE]
# Stable release channel.

VERSION=0.4.1
ARCHIVEURL=https://github.com/herdan75/LoxBerry-Plugin-HostBackup/releases/download/v0.4.1/LoxBerryHostBackup_0.4.1.zip
INFOURL=https://github.com/herdan75/LoxBerry-Plugin-HostBackup/releases/tag/v0.4.1
